<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h1>Students Details Page</h1>

    <div>
        <div><h3>Total Boys in Class: {{ Boys }}</h3></div>
        <div><h3>Total Girls in Class: {{ Girls }}</h3></div>
        <div><h3>Total Students in Class: {{ Class12 }}</h3></div>
        <div><h3>Students in Class-10: {{ Class10 }}</h3></div>
    </div>
</body>
</html>