<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    
    <h1 style="text-align: center; color: blue;">
        Welcome to Student Profile Page
    </h1>

    <div style="display: flex; justify-content: space-around;">
        <div>
            <div style="color: rgb(65, 111, 111);">
                <h1>Student 1</h1>
                <h2>name: {{s1.name}}</h2>
                <h2>age: {{s1.age}}</h2>
                <h2>course: {{s1.course}}</h2>
            </div>
        </div>
        <div>
            <div style="color: saddlebrown;">
                <h1>Student 2</h1>
                <h2>name: {{s2.name}}</h2>
                <h2>age: {{s2.age}}</h2>
                <h2>course: {{s2.course}}</h2>
            </div>
        </div>
        <div>
            <div style="color: darkgreen;">
                <h1>Student 3</h1>
                <h2>name: {{s3.name}}</h2>
                <h2>age: {{s3.age}}</h2>
                <h2>course: {{s3.course}}</h2>
            </div>
        </div>
    </div>

</body>
</html>