<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collage Data</title>
</head>
<body>
    
    <div>
        <h1>Welcome to Unique collage Campus.in ....</h1>
    </div>

    <div>
        <h3 style="color: blue;">clgname: {{clgname}}</h3>
        <h3 style="color: red;">ratings: {{rating}}</h3>
        <h3 style="color: brown;">department: {{department}}</h3>
    </div>

    <div>
        <h2>Departments:</h2>
        {% for i in department %}
          <h3>{{i}}</h3>
        {% endfor%}
    </div>

    <div>
        {% if rating >= 3.5 %}
          <h3>Collage is verygood.</h3>

          {% else %}
          <h3>Collage is notgood.</h3>
        {% endif %}
    </div>

</body>
</html>