<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact </title>
</head>
<body>

    <div>
        <h1 style="color: rgb(0, 185, 241); text-align: center;">This is Contact Us page</h1>
    </div>

    <div style="text-align: center; margin-top: 80px;">
         <h3>Contact Details are Here:</h3>
         <p style="color: blue;">name: John Doe</p>
         <p style="color: blue;">contact: +90 2563 1253 25</p>
         <p style="color: seagreen;">email: john@gmail.com</p>
    </div>
    
</body> 
</html>