<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All News Here</title>
    </head>
    <body>

        <div>
            <h3 style="text-align: center;">Welcom to News World in....</h3>
            <p style="text-align: center;">click here Read and Explore more...</p>
        </div>

        
            <div style="display: flex; justify-content: space-evenly; margin-top: 40px;">
                <div>
                    <div><img
                            src="https://i.pinimg.com/1200x/bb/6b/d1/bb6bd12aca6e0426cbd22b1c54209a2e.jpg"
                            alt="news1"
                            style="width: 200px; height: 200px;"></div>
                    <div><p
                            style="font-weight: 800; font-size: 20px; margin-left: 20px;">Dainik Bhaskar Read More.</p></div>

                </div>

                <div>
                    <div><img
                            src="https://i.pinimg.com/1200x/b6/50/ea/b650ea3d2408649987813022a932b707.jpg"
                            alt="news2"
                            style="width: 200px; height: 200px;"></div>
                    <div><p
                            style="font-weight: 800; font-size: 20px; margin-left: 20px;">Hindustan Read More.</p></div>
                </div>

                <div>
                    <div><img
                            src="https://i.pinimg.com/736x/ac/1a/4e/ac1a4e329d3a120aac9e07cb6fb3705d.jpg"
                            alt="news3"
                            style="width: 200px; height: 200px;"></div>
                    <div><p
                            style="font-weight: 800; font-size: 20px; margin-left: 20px;">Dabang Duniya Read More.</p></div>
                </div>

            </div>
        

    </body>
</html>