<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Shows Here</title>
    </head>
    <body>

        <div>
            <h3 style="text-align: center;">Welcom to Shows World in....</h3>
            <p style="text-align: center;">click here to watch in...</p>
        </div>

        
            <div style="display: flex; justify-content: space-evenly; margin-top: 40px;">
                <div>
                    <div><img
                            src="https://tmkocplay.com/assets/frontend/img/load-screen-1.png"
                            alt="shows1"
                            style="width: 200px; height: 200px;"></div>
                    <div><p
                            style="font-weight: 800; font-size: 20px; margin-left: 20px;">TMKOC </p></div>

                </div>

                <div>
                    <div><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJbxdNXImKrfCljcYVtHlW6N-u83r4dYgKtHXNaT4A94na5gOxclYEjVPfRg3YHrjJUjedxmM1zxZkGBBV8kfvQoMCgcUX5aPJp_0h3l-YbQ&s=10"
                            alt="shows2"
                            style="width: 200px; height: 200px;"></div>
                    <div><p
                            style="font-weight: 800; font-size: 20px; margin-left: 20px;">CID</p></div>
                </div>

                <div>
                    <div><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuiWNnKq3RBYj5DpVWWdZoRvIR0X2qkNn6YA&s"
                            alt="shows3"
                            style="width: 200px; height: 200px;"></div>
                    <div><p
                            style="font-weight: 800; font-size: 20px; margin-left: 20px;">Mahabharat</p></div>
                </div>

            </div>
        

    </body>
</html>