<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Section</title>
</head>
<body>
    
    <h1>Create Inventory</h1>
    <p>Inventory stock add like : Mobile, Laptop, Desktop, etc.</p>
    <form method="post">
        {% csrf_token %} <!-- it is used to prevent cross-site request forgery attacks -->
        {{form}}    <!-- it will render the form fields in the template -->
    <input type="submit" value="Submit">

</body>
</html>