{% extends 'base.html' %} <!-- base.html code part load in this file -->
{% block content %} <!--  load block part of base.html and add content to it -->

    <h1>Create Employee</h1>
    {% comment %} <a href="{% url 'employeeList' %}">Employee List</a> {% endcomment %}
    <br><br>
    <form method="post">
        {% csrf_token %} <!-- This is important for security reasons -->
        {{form.as_p}} <!-- This will render the form fields as paragraphs -->
        <input type="submit" value="submit" />
    </form>
    
{% endblock content %}